.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: 3px solid saddlebrown;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 1px -5px 9px rgba(0, 0, 0, 0.5);
}

.header-left {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.title-search-container {
  display: flex;
  align-items: center;
  gap: 20px; /* 제목과 검색창 사이 간격 조정 */
  margin-bottom: 15px;
}

.header-title {
  font-size: 24px;
  border-bottom: 3px solid saddlebrown;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category-select,
.search-input,
.search-button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-input {
  width: 250px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #43d300;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #43d300;
  color: white;
}

.login-container {
  flex: 2.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  background-color: rgb(255, 251, 246);
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #b8b0b0;
  justify-content: center;
}

.login-button {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 auto;
}

.login-button {
  background-color: #94f148;
}

.alert-button {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

